node_modules
/Documents/NetBeansProjects/Menustrip/nbproject/private/
/.android
/.cache
/.config
/.continue
/.cursor
/.dotnet
/.emulator_console_auth_token
/.expo
/.gitconfig
/.gitignore
/.gradle
/.grasp_settings
/.keras
/.nbi
/.node_repl_history
/.npmrc
/.nuget
/.ollama
/.skiko
/.vs
/.vscode
/AndroidStudioProjects
/AppData
/Contacts
/Desktop
/Documents
/DoneWithIt
/Downloads
/Favorites
/GoogleSign
/GoogleSignInApp
/IntelGraphicsProfiles
/Links
/miniforge3
/Music
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{9e8be9ee-2e5d-11f0-b80f-fd1e4aa7238e}.TM.blf
/NTUSER.DAT{9e8be9ee-2e5d-11f0-b80f-fd1e4aa7238e}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{9e8be9ee-2e5d-11f0-b80f-fd1e4aa7238e}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/OneDrive
/package-lock.json
/package.json
/Pictures
/PycharmProjects
/Saved Games
/Searches
/source
/Time Doctor 2
/Videos
